.progress {
  width: 500px;
  height: 20px;
  margin-top: 30px;
  margin-left: 170px;
  border-radius: 8px;
  overflow: hidden;
  background: #e2f2f5;
}
.progress .current {
  width: 0;
  height: 100%;
  background: repeating-linear-gradient(
      -45deg,
      #ffcf25,
      #ffcf25 10px,
      rgba(252, 228, 146, 1) 10px,
      rgba(252, 228, 146, 1) 20px,
      rgba(252, 228, 146, 1) 20px
    )
    top left;
}
